@charset "utf-8"

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700')

// Set your brand colors
$black: #000033
$purple: #A64667
$pink-light: #FBBDCE
$yellow: #F5DF14
$grey-light: #C4C4C4
$white: #EDDFEF
$orange: #E99C07
$red: #E01A4F
$green: #14F5AA

// Update Bulma's global variables
$primary: $red
$text: $black
$link: $pink-light
$input-color: $black
$input-disabled-color: $black
$input-radius: 10px
$link-hover: $white
$input-hover-border-color: $white
$input-hover-color: $white
$input-focus-border-color: $white
$link-visited: $purple
$info: $green
$success: #48c774
$warning: $orange
$light: $white
$widescreen-enabled: true
$tablet: 900px 
$fullhd-enabled: true

// Update some of Bulma's component variables
$body-background-color: $black
$control-border-width: 2px
$input-border-color: transparent
$input-shadow: none

//Navbar
$navbar-background-color: $green
$navbar-item-color: $black
$navbar-item-hover-background-color: #9efddd
$navbar-item-hover-color: #000046
$navbar-dropdown-arrow: $black
$navbar-dropdown-background-color : #9efddd

// Import only what you need from Bulma
@import "../../node_modules//bulma/bulma.sass";

html,
body
    padding: 0
    margin: 0
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif

a
    color: inherit
    text-decoration: none

*
    box-sizing: border-box

h1
    font-size: 48px
    font-weight: bold
    color: $primary
